@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Make scrollbars invisible */
.no-scrollbar::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar,
.custom-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
